extends layout

block append head
	script(src='/scripts/bookcase.js')

block content
	div(class='container')
		#navigator(class='navigator')
			h5
				a(id='lableContentInfo' style='text-decoration:none;') Select book
			a(id='aSideMenuToggle' href='#' style='text-decoration:none;cursor:pointer;' title='Slide side menu' onmouseover="style.fontWeight = 'bold'" onmouseout="style.fontWeight = 'normal'") :: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			a(id='aPrevPage' href='#' style='text-decoration:none;' title='Back previous page' onmouseover="style.fontWeight = 'bold'" onmouseout="style.fontWeight = 'normal'") < &nbsp;&nbsp;&nbsp;&nbsp;
			a(id='aNextPage' href='#' style='text-decoration:none;' title='Go next page' onmouseover="style.fontWeight = 'bold'" onmouseout="style.fontWeight = 'normal'") > &nbsp;&nbsp;&nbsp;&nbsp;
			a(id='aShowTwoPages' style='text-decoration:none;cursor:pointer;' title='Show two pages' onmouseover="style.fontWeight = 'bold'" onmouseout="style.fontWeight = 'normal'") ·· &nbsp;&nbsp;&nbsp;&nbsp;
			
		#content
			a(id='aImageContent' href='#')
				table
					tbody
						tr
							td
								img(id='imgLeftContent' class='content' style='display:none;')
							td
								img(id='imgContent' class='content')