extends layout

block content
	div(class='container')
		h1= title
		h3 Intorduction
		p <b>Yao's book case</b> provides some of book collections. <b>Comics</b> category is on service now. This service also support convenient viewer. UI is very easy. You can touch or click the image content, then next page directly.